.wrapper {
  flex: 1;
}

.label {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: rgba(117, 117, 117, 0.6);

  svg {
    font-size: 30px;
    color: #757575;
    margin-right: 26px;
  }
}

ul.topics {
  padding-left: 56px;
  max-width: 400px;
  margin-bottom: 38px;

  li {
    justify-content: space-between;
    font-size: 16px;
  }
}

ul.smes {
  padding-left: 56px;
  padding-right: 20px;
  max-width: 450px;
  max-height: 192px;
  overflow: auto;
  margin-bottom: 38px;

  li {
    :global {
      .MuiAvatar-root {
        width: 48px;
        height: 48px;
      }

      .MuiListItemText-primary {
        display: flex;
        justify-content: space-between;

        span {
          color: #757575;
        }
      }
    }
  }
}

ul.theories {
  padding-left: 56px;
  max-width: 456px;
  &.isEditMode {
    max-width: 585px;
  }

  li {
    :global {
      .MuiListItemText-primary {
        font-size: 24px;
        margin-bottom: 12px;
        cursor: pointer;
      }

      .MuiListItemText-secondary {
        font-size: 16px;
      }

      svg {
        font-size: 28px;
      }
    }
  }
}
